# EXAMPLE MAKE.CFG FILE
# Please see the comments for each option. Most options can be left
# off for sane defaults.

#################################################################
# Default make target
#################################################################
[DEFAULT]

# ALL PATHS ARE TAKEN TO BE EITHER ABSOLUTE OR RELATIVE TO THIS FILE

# Work drive ('P' drive)
# This is your magic arma tools drive. Usually P:\
# Default: P:\
# work_drive = P:\

# This is the folder hierarchy that will be used as prefix inside the PBO.
# Default: ""
prefix = PREFIX_STRING

# Set the location where the addon source folders live (i.e. P:\z\ace\addons)
# Default: <work_drive>\<prefix>\addons
module_root = ..\addons

# If set to True, the make system will attempt to autodetect addons in the
# current folder by looking for directories with 'config.cpp' in them.
# Default: True
# module_autodetect = True

# List of directories to ignore when autodetecting addons/modules.
# Default: a3
ignore = a3,cba,temp

# If autodetect is set to False, only folders whose names are in this list
# will be built as modules.
# Default: None
# modules = my_module, my_supporting_module

# Which build tool will be used? Options: pboproject, addonbuilder
# Default: addonbuilder
build_tool = pboproject

# Directory where the built addon will be saved.
# You'll end up with release_dir/project/addons/pbo_name_prefix_module.pbo
# Default: release
release_dir = ..\release

# Project name (with @ symbol)
# This is used for naming the release files.
# i.e. you'll end up with release_dir/project/addons/pbo_name_prefix_module.pbo
# Default: Current folder name
project = @XLA_FixedArsenal

# This string will be prefixed to all build PBO file names.
# Default: ""
# pbo_name_prefix = ""

# Path to project secret key for signing
# Make sure this isn't in your public repository!
# Default: <work_drive>\private_keys\ace_3.0.0.biprivatekey
# key = P:\private_keys\ace_3.0.0.biprivatekey

# Path to where private keys are automatically created if the command-line parameter "key" is used 
# Make sure this isn't in your public repository!
# Default: <work_drive>\private_keys
# private_key_path = P:\private_keys

# If the command-line variable test, the addons built will be copied to the following folder.
# Default: %USERPROFILE%\documents\Arma 3\<project>
# test_dir = %USERPROFILE%\documents\Arma 3\<project>


##################################################################
# Alternate build target using a different key
###################################################################
# [DifferentKey]
# key = C:\Keys\different.biprivatekey

##################################################################
# Alternate build target ignoring some modules when detecting
###################################################################
# [IgnoreSome]
# key = C:\Keys\different.biprivatekey
# ignore = release, my_server_module, my_private_module

##################################################################
# Alternate build target with fixed build list
###################################################################
# [Fixed]
# module_autodetect = False
# modules = my_module, my_other_module

